<section class="bg-white py-24">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-16">
      <p
        class="text-[#82674E] text-sm sm:text-base tracking-[0.3em] uppercase mb-3"
      >
        Galería
      </p>
      <h2
        class="text-4xl sm:text-5xl font-bold font-secondary uppercase text-stone-950"
      >
        Explora nuestro arsenal
      </h2>
    </div>

    <div class="grid gap-4">
      <div class="w-full">
        <img
          src="/images/espacios/arsenal/1.webp"
          alt="Vista amplia del espacio de trabajo en la cafetería"
          class="w-full h-96 object-cover"
        />
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <img
            src="/images/espacios/arsenal/2.webp"
            alt="Detalle de la barra de café"
            class="w-full h-80 object-cover"
          />
        </div>

        <div>
          <img
            src="/images/espacios/arsenal/3.webp"
            alt="Zona de mesas y sillas para clientes"
            class="w-full h-80 object-cover"
          />
        </div>
      </div>
    </div>
  </div>
</section>
