<section
  class="max-w-7xl mx-auto w-full pb-32 h-[950px] px-4 sm:px-8"
  role="region"
  aria-label="Ubicación de La Base Cowork"
>
  <iframe
    class="w-full h-full"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d867.1838677231486!2d-75.21539925480968!3d-12.0706680153886!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x910e974736d88d2d%3A0x52981c190b36381c!2sLa%20Base%20Cowork!5e0!3m2!1ses!2spe!4v1745193623085!5m2!1ses!2spe"
    style="border:0;"
    title="Mapa de ubicación de La Base Cowork"
    aria-label="Mapa interactivo mostrando la ubicación de La Base Cowork"
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    allowfullscreen=""
    tabindex="0"></iframe>
</section>
