<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto mb-10 grid max-w-lg grid-cols-4 items-center gap-x-8 gap-y-10 sm:max-w-xl  sm:gap-x-10 lg:mx-0 lg:max-w-none ">
      <img width="158" height="48" src="/images/logo/aguirre.png" alt="Transistor" class="col-span-2 max-h-10 w-full object-contain lg:col-span-1" />
      <img width="158" height="48"  src="/images/logo/enazul.png" alt="Reform" class="col-span-2 max-h-8 w-full object-contain lg:col-span-1" />
      <img width="158" height="48" src="/images/logo/alicorp.png" alt="Tuple" class="col-span-2 max-h-10 w-full object-contain lg:col-span-1" />
      <img width="158" height="48" src="/images/logo/arxatec.png" alt="SavvyCal" class="col-span-2 max-h-14 w-full object-contain sm:col-start-2 lg:col-span-1" />
    </div>
    <h2 class="text-center text-lg/8 font-semibold text-gray-900">Trabajamos y apoyamos a estas marcas.</h2>
  </div>
</div>
