---
import { CoreLayout } from "@/layouts";
---

<CoreLayout title="Arsenal" description="Arsenal" keywords="Arsenal" canonical="Arsenal" image="Arsenal" type="Arsenal" robots="Arsenal" structuredData="Arsenal">
  <h1>Arsenal</h1>
</CoreLayout>