<section
  class="px-4 sm:px-8 py-24"
  role="banner"
  aria-label="Frase destacada de La Base Cowork"
>
  <blockquote
    class="text-center font-serif text-2xl sm:text-4xl font-light text-stone-900 mx-auto italic max-w-6xl leading-12"
    role="presentation"
  >
    <p>
      Aquí no solo alquilas un escritorio, conquistas tu propósito. Nuestros
      espacios son la base de tus ideas más grandes, donde cada jornada impulsa
      tu visión y cada rincón respira emprendimiento.
      <br />
      <strong>¡Despega en La Base Cowork!</strong>
    </p>
  </blockquote>
</section>
