<div class="text-center">
  <img
    src="/images/arsenal/line-decorative.svg"
    alt=""
    class="w-32 h-auto mx-auto mt-4"
    aria-hidden="true"
    loading="lazy"
    decoding="async"
    fetchpriority="low"
  />
</div>
